{{define "index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        body {
            width: 1000px;
            margin: 0 auto;
        }
        .title {
            padding: 20px;
        }
        .devices {
            display: flex;
            flex-direction: column;
        }
        .deviceName {
            font-size: 24px;
            color: #161a1d;
        }
    </style>
</head>
<body>
    <h1 class="title">{{.Name}}</h1>
    <div class="devices">{{range $key, $device := .Devices}}
        <a class="deviceName" href="/device/{{$key}}">{{$device.Name}}</a><br>{{end}}
    </div>
</body>
</html>
{{end}}